@tailwind base;
@tailwind components;
@tailwind utilities;

@import './themes.css';
/* @import './fonts/fonts.css'; */

html {
  scroll-behavior: smooth;
}

html,
body {
  /* font-family: Mukta, 'Nunito Sans', 'Fira Code', Arial, sans-serif; */
  margin: 0;
  padding: 0;
}

body {
  background: rgb(var(--background));
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgb(var(--primary));
  color: rgb(var(--text-button));
  text-shadow: none;
}

*:focus {
  @apply focus:outline-none;
}

* {
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: rgb(var(--background));
}

::-webkit-scrollbar-thumb {
  background: rgb(var(--default-active));
  -webkit-border-radius: 8px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}

.yes-select {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  -o-user-select: text;
}

.hover-thin-scroll {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.hover-thin-scroll:hover {
  scrollbar-color: auto;
}

.hover-thin-scroll::-webkit-scrollbar {
  @apply hidden w-[3px];
}

.hover-thin-scroll:hover::-webkit-scrollbar {
  display: block;
}

.hidden-scrollbar {
  scrollbar-width: none;
  scrollbar-color: rgba(0, 0, 0, 0);
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

input[type='number'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.link {
  color: rgb(var(--link));
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Code */
.code {
  @apply bg-default-hover text-text-primary mx-0 cursor-auto rounded-sm px-1.5 py-0.5 text-[14px] font-semibold transition duration-200;
}
