[data-theme='facebook'] {
  /* Primary */
  --primary: 57, 86, 151;
  --primary-hover: 74, 108, 187;
  --primary-active: 49, 72, 124;
  --default: 231, 234, 237;
  --default-hover: 217, 221, 225;
  --default-active: 193, 199, 206;

  /* Text */
  --text: 0, 0, 0;
  --text-primary: 55, 65, 81;
  --text-secondary: 75, 85, 107;
  --text-faint: 135, 141, 156;
  --text-button: 255, 255, 255;

  /* Elements */
  --background: 255, 255, 255;
  --shade: 255, 255, 255;
  --shade-2: 255, 255, 255;
  --tooltip: 29, 32, 43;
  --tooltip-text: 255, 255, 255;

  /* Header */
  --header: 57, 86, 151;
  --header-border: 82, 115, 190;
  --header-text: 123, 142, 185;
  --header-text-gradient-from: 255, 255, 255;
  --header-text-gradient-to: 255, 255, 255;
  --header-search: 38, 57, 100;
  --header-search-focus: 25, 38, 66;
  --header-search-text: 255, 255, 255;
  --header-search-border: 82, 115, 190;
  --header-search-focus-border: 120, 146, 205;
  --header-search-button: 82, 115, 190;
  --header-search-button-hover: 92, 123, 194;
  --header-search-button-active: 120, 146, 205;
  --header-search-button-text: 255, 255, 255;
  --header-search-focus-button: 82, 115, 190;
  --header-search-focus-button-hover: 92, 123, 194;
  --header-search-focus-button-active: 120, 146, 205;
  --header-search-focus-button-text: 255, 255, 255;
  --header-burger: 255, 255, 255;
  --header-burger-hover: 255, 255, 255;
  --header-burger-active: 255, 255, 255;
  --header-burger-background: var(--header);
  --header-burger-background-hover: 38, 57, 100;
  --header-burger-background-active: 25, 38, 66;
  --header-button: 255, 255, 255;
  --header-button-hover: 255, 255, 255;
  --header-button-active: 255, 255, 255;
  --header-button-text: 0, 0, 0;

  /* System */
  --link: 10, 149, 255;

  /* Menu */
  --menu: var(--background);

  /* Components */
  --input: 229, 231, 235;
  --input-focus: 255, 255, 255;
  --border: 219, 222, 227;
}
