[data-theme='raspberry'] {
  /* Primary */
  --primary: 254, 45, 91;
  --primary-hover: 254, 101, 135;
  --primary-active: 233, 1, 53;
  --default: 56, 61, 114;
  --default-hover: 69, 74, 141;
  --default-active: 84, 90, 171;

  /* Text */
  --text: 255, 255, 255;
  --text-primary: 228, 228, 239;
  --text-secondary: 159, 159, 198;
  --text-faint: 126, 126, 180;
  --text-button: 0, 0, 0;

  /* System */
  --link: 254, 45, 91;

  /* Elements */
  --background: 30, 33, 61;
  --shade: 38, 43, 79;
  --shade-2: 46, 50, 92;
  --tooltip: 13, 14, 26;
  --tooltip-text: 255, 255, 255;

  /* Header */
  --header: 46, 50, 92;
  --header-border: var(--border);
  --header-text: var(--text-faint);
  --header-text-gradient-from: var(--text-primary);
  --header-text-gradient-to: var(--text-primary);
  --header-search: var(--input);
  --header-search-focus: var(--input-focus);
  --header-search-text: var(--text);
  --header-search-border: var(--default-hover);
  --header-search-focus-border: var(--primary);
  --header-search-button: var(--primary);
  --header-search-button-hover: var(--primary-hover);
  --header-search-button-active: var(--primary-active);
  --header-search-button-text: var(--text-button);
  --header-search-focus-button: var(--primary);
  --header-search-focus-button-hover: var(--primary-hover);
  --header-search-focus-button-active: var(--primary-active);
  --header-search-focus-button-text: var(--text-button);
  --header-burger: var(--text-header);
  --header-burger-hover: var(--text-primary);
  --header-burger-active: var(--text-text);
  --header-burger-background: var(--header);
  --header-burger-background-hover: var(--default-hover);
  --header-burger-background-active: var(--default-active);
  --header-button: var(--primary);
  --header-button-hover: var(--primary);
  --header-button-active: var(--primary);
  --header-button-text: var(--text);

  /* Menu */
  --menu: var(--background);

  /* Components */
  --input: 20, 22, 40;
  --input-focus: 13, 14, 26;
  --border: 52, 56, 105;
}
